.btn{
    margin: 10px;
    height:  140px;
    width: 140px;
    font-weight:900;
    font-size:40px;
    color: black;
    align-items: center;
    margin-right: 10px;
    left:55%;
}
.container{
    width: 150%;
    margin: auto;
    display: block;
}

input{
    margin-top: 10px;
    width: 750px;
    height: 50px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding: 16px;
}
